includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    checkModelProperties: true
    
    paths:
        - app
        - bootstrap
        - config

    # Level 10 is the highest level
    level: 10

    ignoreErrors:
      
    excludePaths:
        - ./vendor
        - ./storage
        - ./public
        - ./node_modules
        - ./tests/Feature/*.php
        - ./_ide_helper.php
        - ./_ide_helper_models.php"

    checkGenericClassInNonGenericObjectType: false

    editorUrl: 'vscode://file/%%file%%:%%line%%'
